.dashboardbg{
    background: url('/assets/icons/CreatorBG.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.creatfoot{
    background-color: #0F0F0F;
    background-size: cover;
    width: 100%;
    min-height: auto;
    padding-top: 20px;
}

.appbg{
    padding: 60px;
    background-color: #777;
    min-height:30vh;
}

.separa2{
    margin-right: 40px;
}

.drag-unit {
    width: 120px;
    height: 120px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    
}

.credi2{
    font-size: x-small;
    padding-left: 50px;
}

.credi3{
    font-size: small;
    padding-right: 50px;
}

  .creatfoot{
    background-color: #0F0F0F;
    background-size: cover;
    width: 100%;
    min-height: auto;
    padding-top: 20px;
}


.container-bag {
    width: 100%;
    height: 200px;
    border: solid black;
    margin-bottom: 50px;
}

.title{
    background-color:#0134a1; 
    padding:15px; 
    color:white;
    text-align: "center";
    width: 100%;
    margin: 0px;
}
.subtitle{
    padding-top: 20px;
    padding-left: 20px;
    background-color: #ececec;
    margin: 0px;
}

.contain{
    height: 580px;
    background-color:#ececec; 
    padding:10px; 
    font-size:16px;
}

.subcontain{
    height: 250px;
    background-color:#ececec; 
}

.visible{
    display: none;
}